.TagListItem_main{
    background: #FFE6F7;
    padding: 0.5rem;
    display: flex;
    .TagListItem_checkbox{
        margin: none;
        padding:none;
        flex:0.2;
    }
    .TagListItem_hos_Name{
        flex: 1;
    }
    & + &{
        border-top: 1px solid #937DC2;
    }
}