.TagListItem_Main{
    //height:100%;
    //width: 100%;
    background: #FFE6F7;
    padding: 8px;
    display: flex;
    .TagListItem_Checkbox{
        flex:1;
        display: flex;
        margin: none;
        padding:none;
        svg{
            font-size: 20px;
            padding-top: 2px;
        }
        &.checked{
            color:#937DC2;
        }
        .TagListItem_Hos_Name{
            margin-left: 8px;
            font-weight: bold;
        }
    }
    
    & + &{
        border-top: 1px solid #937DC2;
    }
}