.TagListItem_Main{
    //height:100%;
    //width: 100%;
    background: white;
    padding: 8px;
    display: flex;
    .TagListItem_Checkbox{
        flex:1;
        display: flex;
        margin: none;
        padding:none;
        cursor: pointer;
        svg{
            font-size: 20px;
            //padding-top: 2px;
        }
        &.checked{
            color:#EB6440;
        }
        .TagListItem_Hos_Name{
            padding-top: 2px;
            margin-left: 8px;
            font-weight: bold;
        }
    }
    border-bottom: 1px dashed #3C4048;
    // & + &{
    //     border-top: 1px dashed #3C4048;
    // }
}