.Search_main {
    height: 100%;
    background: #FFABE1;

    .Search_searchBar {
        height: 20%;
        outline: none;
        border: none;
        padding: 20px;
        line-height: 1.5;
        flex: 1;

        .Search_button {
            background: none;
            outline: none;
            border: none;
            //padding-left: 1rem;
            color: white;
            font-size: 1.2rem;
            flex: 1;
        }
    }

    .Search_otherComponents {
        height: 100%;

        .Search_menu {
            height: 10%;
            background-color: yellow;
        }

        .Search_tabs {
            height: 100%;
            background-color: blue;
        }
    }

}