.Searchbar_Main{
    display: flex;
    flex:1;

    align-items: center;

    .Searchbar_Button{
        position: absolute;
        margin-left: 7px;
        margin-top: 5px;
        z-index: 1;
        color: #FFABE1;
        font-size: 25px;
        border:none;
        background: none;
        cursor: pointer;
    }
    .Searchbar_Input{
        width: 100%;
        height: 50%;
        background: #FFE6F7;
        border: none;
        font-size: 10px;
        float: left;
        color: #63717f;
        padding-left: 45px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }
   
}